.headCustom{
    width: 90vw;
    height: 80px;
    background: blue;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headClose{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 80px;
    background: blue;
    color: white;
}

.selectCustom:hover{
   border: 2px solid blue;
}