

.customCLose{
    position: absolute;
    right: 17px;
    top: 10px;
}

.medallaImg{
    width: 220px;
    margin-top: 80px;
}

 .iconFacebook{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconTwitter{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.points{
    color: blue;
    font-family: cursive;
    font-size: large;
}

.time{
    color: blue;
    font-family: cursive;
    font-size: large;
}

.homeContent{
    height: calc(100vh - 150px) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}
