

.customCLose{
    position: absolute;
    right: 17px;
    top: 10px;
}

.medallaImg{
    width: 200px;
    margin-top: 80px;
    margin-left: 85px;
}

.iconsImg{
    width: 70px;
    margin-top: 80px;
    margin-left: 85px;
}
