
.buttomContent{
    height: 150px !important;
}
.homeContent{
    height: calc(100vh - 150px) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coheteImg{
    width: 200px;
    margin-top: 80px;
}
